<h2> <%= @chef.name %>'s Ingredients: </h2>

<div class="all-ingredients">
  <ul><% @ingredients.each do |ingredient| %>
    <li><%= ingredient %></li>
    <% end %> </ul>
</div>

<h3> <%= @chef.name %>'s Top Ingredients: </h3>
<div class="popular-ingredients">
  <ol> <% @chef.top_ingredients.each do |ingredient| %>
    <li> <%= ingredient.name %> |<i> used <%= ingredient.count %> times </i></li>
    <% end %> </ol>
</div>
