<h2><%= @dish.name %></h2>

Description: <%= @dish.description %><br>

Ingredients: <br>
<% @dish.ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.name %></li>
  </ul>
  <% end %><br>

  Total Calories: <%= @dish.total_cals %><br><br>

  Dish by Chef <%= @dish.chef.name %>
