<h3>Dish: <%= @dish.name %></h3>

<p>Description: <%= @dish.description %></p><br>

<div class="ingredients">
  <p>Ingredients: <% @dish.ingredients.each do |ingredient| %></p>
    <%= ingredient.name %>
  <% end %>
</div><br>

<p>Chef: <%= @dish.chef.name %></p>

<p>Calorie Count: <%= @dish.total_calories %></p>
